
@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 160px;
}

div.navi {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(34, 34, 34);
    filter: drop-shadow(0px 0px 10px #00000065);
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-bar{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    margin-right: 50px;
    justify-content: space-between;
}

div.top-bar-logo {
    transform: scale(0.8);
    padding-top: 8px;
    height: 100px;
    margin-bottom: -10px;
    filter: grayscale(0.4);
}

div.top-bar-logo:hover{
    filter: brightness(1.2);
}


section.top-bar-navigation {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-self: flex-start;
}

section.top-bar-navigation div a {
    font-family: "Open Sans";
    font-variant: small-caps;
    font-size: 120%;
    font-weight: 200;
    text-align: center;
    display: inline-block;
    padding-top: 60px; padding-bottom: 40px;
    margin-left: 2px;
    margin-bottom: -5px;
    width: 150px;
    background-color: rgb(58, 58, 58);
    color: rgb(155, 155, 155);
    text-decoration: none;
    transition: 0.08s;
    opacity: 40%;
}

section.top-bar-navigation div a:hover {
    transform: scale(1.06);
    background-color: rgba(29, 29, 29, 0.377);
    color: rgb(224, 95, 48);
    opacity: 100%;
}

div.phone img {
    display: inline-block;
    margin-left: 2px;
    padding-left: -10px; padding-right: -10px;
    margin-bottom: -10px;
    transition: 0.1s;
    transform: scale(0.35);
    filter: drop-shadow(0px 10px 5px #0000002a);
}

div.phone img:hover {
    transform: scale(0.3);
    filter: none;
}

h1 {
    padding: 50px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 300%;
    filter: drop-shadow(0px 0px 1px #000000);
}

p {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 135%;
    filter: drop-shadow(0px 0px 0.5px #000000);
}

section.top-pad {
    transform: scale(0.95);
    padding-top: 100px; padding-bottom: 300px;
    padding-left: -10px; padding-right: -10px;
    background-color: rgba(149, 158, 167, 0.8);
}

section.back-pad {
    color: white;
    padding-top: 100px; padding-bottom: 300px;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    backdrop-filter: brightness(50%) grayscale(50%);
    background-image: url(../media/img/spordihoone.jpg);
}


