
ul {
    list-style-type: none;
    margin: -10px;
    padding: 0px;
    background-color: rgb(34, 34, 34);
    filter: drop-shadow(0px 0px 10px #00000057);
}

ul .flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    margin-right: 50px;
}

ul .flex-container li a {
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    display: inline-block;
    padding-top: 60px; padding-bottom: 40px;
    margin: 1px;
    width: 150px;
    background-color: rgb(58, 58, 58);
    color: rgb(155, 155, 155);   
    text-decoration: none;
    transition: 0.08s;
}

.flex-container li a:hover {
    transform: scale(1.06);
    background-color: rgb(29, 29, 29);
    color: rgb(175, 76, 40);
}

h1 {
    font-family: Verdana;
}

p {
    font-family: Verdana;
}

body {
    background-color: rgb(180, 151, 151);
}